html {
  background-color: rgb(58, 58, 58);
  color: yellow;
}

img {
  width: 100px;
}

.pokeman-display {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}